#searchRealm,#searchCharacter{
  padding:7px;
  font-size:17px;
  border-width:5px;
  background-color:#e6ded1;
  border-color:black;
  border-radius: 8px ;
  height:45px;
}
.error{
  font-size: 40px;
  text-align: center;
  margin-top: 20%;
}
#searchRealm{
  padding-top:6px;
}
.SearchBar{
  padding:4px;
}
.itemsList {
  display: flex;
  flex-direction: column;
}
.itemsList-middle{
  display: flex;
  flex-direction: row;
}
.container-middle{
  display:flex;
  justify-content: space-between;
  width: 420px;
  height: 80px;
  margin:auto;
}
.search-button{
  background: #932626;
  color:white;
  margin-left:10px;
  width:160px;
  height:37px;
}
.container{
  display:flex;
  justify-content: space-between;
  width: 750px;
  height: 550px;
  margin:auto;
}
.CharMedia{
  height:100%;
}


