<div class="SearchBar">
      <label for="searchCharacter"></label>
        <input [(ngModel)]="characterName" type="search" id="searchCharacter" placeholder="Name">
      <label for="searchRealm"></label>
        <select [(ngModel)]="realm" name="realm" id="searchRealm">
          <option value="archimonde">Archimonde</option>
          <option value="ysondre">Ysondre</option>
          <option value="garona">Garona</option>
          <option value="hyjal">Hyjal</option>
          <option value="dalaran">Dalaran</option>
          <option value="arathi">Arathi</option>

        </select>
    <button mat-stroked-button type="button" class="search-button" (click)="onClick()">Rechercher</button>
  </div>
<div class="CharMedia"  *ngIf="CharMedia$ | async as CharMedia; else show"
      [ngStyle]="{background:'url(' + CharMedia.assets[2].value + ')','background-size':'cover','background-position':'center'}">
  <app-header *ngIf="CharAppearance$ |async as CharData" [CharName]="CharData.character.name" [CharRealm]="CharData.character.realm.name"
              [CharPicture]="CharMedia.character.name">
  </app-header>
  <div class="container">
    <div *ngIf="leftSideEquipment$ | async as equipments" class="itemsList">
      <app-item *ngFor="let equippedItem of equipments" [textLeft]="false" [ngStyle]="{'flex-direction':'row-reverse'}" [itemId]="equippedItem.item.id"></app-item>
    </div>
    <div *ngIf="rightSideEquipment$ | async as equipments" class="itemsList">
      <app-item *ngFor="let equippedItem of equipments" [textLeft]="true" [itemId]="equippedItem.item.id" ></app-item>
    </div>
  </div>
  <div class="container-middle" *ngIf="middleSideEquipment$ | async as equipments">
    <app-item *ngFor="let equippedItem of equipments" [itemId]="equippedItem.item.id" ></app-item>
  </div>
</div>
<ng-template #show >
  <div *ngIf="error">
    <div class="error">
  Ce personnage n'existe pas !
    </div>
  </div>
  </ng-template>
